html,
body {
	font-family: Montserrat;
	font-weight: 500;
	color: #252B42;
	font-size: 14;
	line-height: 1;
	height: 100%;

}

/* @media */

a {
	text-decoration: none;
	color: black;
}

ul,
li {
	list-style-type: none;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/* ______________________________________________ */
._container {
	max-width: 1050px;
	margin: 0px auto;
	padding: 0 15px;
	box-sizing: content-box;
}

._ibg {
	position: relative;
}

._ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ____________HEEEEEEEEEEEEEEEEEEEEEADER___________________ */
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 50;


	/* background-color: grey; */

}


.header_container {
	min-height: 104px;
	display: flex;
	align-items: center;
	max-width: 1050px;
}


.header_btn-que {
	min-width: 192px;
	min-height: 52px;
	border: #23A6F0;
	border-radius: 5px;
	padding: 0px;
	background-color: #23A6F0;
}

.btn-que__row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 15px 25px;
	border-radius: 5px;
	border: 1px solid #23A6F0;
	box-sizing: border-box;
}

.btn-que__row a {
	margin: 0px 15px 0px 0px;
	color: #FAFAFA;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(22/14*100%);
	letter-spacing: 0.2px;
}

.btn-que__row:hover {
	background-color: #fff;
	cursor: pointer;

}

.btn-que__row:hover a {
	color: #23A6F0;
}

.btn-que__row:hover .img-svg path{
	fill: #23A6F0;
}



.header_logo {
	font-weight: 700;
	font-size: 24px;
	color: #fff;
	letter-spacing: 0.1px;
	line-height: calc(32 / 24 * 100%);
}

.header_menu {
	margin: 0px 343px 0px 105px;
}

@media (max-width:1055px) {
	.header_menu {
		margin: 0px 243px 0px 105px;
	}
}

@media (max-width:952px) {
	.header_menu {
		margin: 0px 153px 0px 105px;
	}
}

@media (max-width:860px) {
	.header_menu {
		margin: 0px 53px 0px 105px;
	}
}

.menu {
	padding: 0 5px;

}

.menu_list {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* margin: 0px 345px 0px 0px; */
	padding: 0;
}

@media (max-width:790px) {
	.menu_list {
		flex-wrap: wrap;
	}
}

.menu_item {}

.menu_item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}


.menu_link {
	color: #fff;
	width: 600px;
	font-size: 14px;
	line-height: calc(24 / 14 * 100%);
	letter-spacing: 0.2px;
}

/* ____________PAGE_________________________________________________________________ */
.page {
	/* background-color: rgb(189, 182, 182); */
	flex: 1 1 auto;

}

.page__main-block {}

.page__advantages {}

.page__testimonials {
	background: #FAFAFA;
}

.page__faq {
	background: #FAFAFA;

}

.page__pricing {
	padding: 112px 0px;
	background: #FAFAFA;
}


.page__getintouch {
	background: #252B42;
}


/* +++++++++++++++++++++++++all around+++++++++++++++++++ */
.title_h2 {
	font-weight: 700;
	font-size: 40px;
	line-height: calc(57/40*100%);
	letter-spacing: 0.2px;
	text-align: center;
	margin: 0px 0px 10px 0px;
}

.text_h2 {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20/14*100%);
	letter-spacing: 0.2px;
	color: #737373;
	text-align: center;

}

.text_h5 {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24/16*100%);
	color: #252B42;
	letter-spacing: 0.1px;
}

.text_h6 {

	font-weight: 600;
	font-size: 14px;
	line-height: calc(24/14*100%);
	color: #737373;
	letter-spacing: 0.2px;

}



/* ____________MAIN_________________________________________________________________ */
.main-block {
	position: relative;
}

.main-block__container {}

._container {}

.main-block__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 154px 0px 53px 0px;
}

.main-block__body {
	padding: 134px 0px 134px 0px;
	position: relative;
	z-index: 2;
	max-width: 599px;
}

/* отступы в мейне для всех 1 уровня объектов потому чтио там одинаковые маргины*/
.main-block__body>*:not(:last-child) {
	margin: 0px 0px 35px 0px;
}

.main-block__title {
	font-weight: 800;
	font-size: 58px;
	line-height: calc(80 / 58 * 100%);
	letter-spacing: 0.2px;
	color: #fff;
}

.main-block__text {
	font-weight: 500;
	font-size: 20px;
	line-height: calc(30/20*100%);
	letter-spacing: 0.2px;
	color: #fff;
}

.main-block__buttons {
	display: inline-flex;
}

.main-block__button {
	border-radius: 37px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 36px;
	color: #fff;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(22/14*100%);
	letter-spacing: 0.2px;
	margin: 5px;
}

.main-block__button_border {
	border: 1px solid #fff;
}

.main-block__button_border:hover {
	background: #fff;
	border: 1px solid #fff;
	color: #23A6F0;
}

.main-block__button_blue {
	background: #23A6F0;
}

.main-block__button_blue:hover {
	color: #23A6F0;
	background-color: #fff;
}

.main-block__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

@media (max-width: 900px) {
	.main-block__image img {
		object-position: left;
	}
}

.main-block__booking {}

.booking {}

.booking__block {
	background-color: #fff;
	padding: 40px;
}

.item-booking {
	border-radius: 10px;
}

.item-booking__title {
	text-align: center;
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32/24*100%);
	letter-spacing: 0.1px;
}

.item-booking__form {
	margin: 40px 0px;
}

.form-booking {}

.form-booking__paragraph {
	color: #252B42;
	margin: 0px 0px 10px 0px;
}

.all-forms {
	background: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-radius: 5px;
	padding: 11px 21px;
}

.all-forms:not(:last-child) {
	margin: 0px 0px 10px 0px;
}


.form-booking__name {}

.form-booking__email {}


.form-booking__department-block{
position: relative;
}
.form-booking__department {
	appearance: none;
	color: #737373;
	width: 100%;
	/* background: url(img/mainblock/selector-arrow.svg) no-repeat right; */
	/* background-position-x: calc(100% - 8px); */
}

.form-booking__arrow{
	position: absolute;
	z-index: 10;
	right: 25px;
	top: 50px;
}
.form-booking__selector1-block{

}

.form-booking__department_selected {
	color: #737373;
}

.form-booking-time-block{
	position: relative;
}

.form-booking__time {
	appearance: none;
	color: #737373;
	width: 100%;
}

.form-booking__time_selected {
}


[data-selected] {
	color: #000;
}

option {
	color: #000;
}

.booking__btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 15px 52px;
	background: #23A6F0;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	letter-spacing: 0.2px;
	font-size: 14px;
	line-height: calc(24/14*100%);
	border: 1px solid #23A6F0;
	box-sizing: border-box;
}

.booking__btn:hover {
	background: #fff;
	color: #23A6F0;
	cursor: pointer;
}

/* --------------------------ADVANTAGES------------------------------------- */

.advantages {}

.advantages__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1050px;
	max-height: 828px;
}


.advantages__body {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
}

.advantages__mid-row {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 693px;
	max-height: 107px;
	margin: 112px 0px;

}

.advantages_mid {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 676px;
	max-height: 107px;


}

.advanatages_title {}

.advantages_text {}



.advanatges_column {
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
	flex: 0 1 33.33%;
	padding: 0px 0px 112px 0px;
	margin: 0px 15px;
}

.advantages_item {
	background: linear-gradient(to bottom, transparent 10%, #89c7fd 60%, transparent 70%);
	display: flex;
	flex-direction: column;
}

.item-advantages {}

.advantages_top-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 30px 50px;
	height: 132px;
	width: 326px;
	box-sizing: border-box;
	align-self: center;
	background: #8EC2F2;
	border-radius: 10px 10px 0px 0px;
}

.item-advantages__icon img {
	align-self: center;
}

.item-advantages__icon {
	/* background-color: rgb(184, 172, 172); */
	border: 1px solid white;
	border-radius: 100%;
	padding: 26px;
	margin-right: 15px;
	background: white;
}

.item-advantages__title {
	font-weight: 700;
	color: #fff;
	font-size: 16px;
	line-height: calc(24/16*100%);
	letter-spacing: 0.1px;
	max-width: 147px;
	max-height: 24px;
	white-space: nowrap;
}

.item-advantages__text {
	border: 1px solid #A9D6FF;
	border-radius: 10px 10px 10px 10px;
	background: #fff;
}

.advantages-list {
	padding: 30px 50px;

}

.advantages-item-h6 {}

.advantages-item-h6:not(:last-child) {
	margin: 0px 0px 5px 0px;
}

.item-advantages__link {
	color: #23A6F0;
	margin: 0px 0px 0px 0px;

}

.item-advantages__link:hover {
text-decoration: underline;
}




/* ____________TESTIMONIALS________________________________________________________________ */

.testimonials {}

.testimonials__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.testimonials__mid-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 112px 0px 80px 0px;
}

.testimonials_title {}

.testimonials_text {}

.testimonials__body {
	display: flex;
}

.testimonials__column {
	display: flex;
	flex-direction: column;
	max-width: 330px;
	max-height: 244px;
	flex: 0 1 33.33%;
	margin: 0px 0px 112px 0px;

}

.testimonials__column:not(:last-child) {
	margin: 0px 30px 0px 0px;
}

.testimonials-item {
	padding: 30px 35px;
	border-radius: 5px;
	border: 1px solid #DEDEDE;
	background-color: #fff;
}

.item-testimonials {}

.testimonials__stars {}

.testimonials__stars img {
	margin: 0px 0px 20px 0px;
}

.testimonials_p-text {}

.testimonials-img {}

.testimonials-img img {
	max-width: 50px;
	max-height: 50px;
	margin: 20px 0px 0px 0px;
}


/* ____________FAAAAAAAAAAQ_________________________________________________________________ */

.faq {
	display: flex;
	align-items: center;
	justify-content: center;

}

.faq__container {
	display: flex;
	flex-direction: column;
	max-width: 1059px;
	max-height: 920px;

}

.faq__mid-row {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 1050px;
	max-height: 197px;
	padding: 45px 0px;

}

.faq__title {
	
}




.faq__text {}

.faq__body {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 50px 0px 50px 0px;

}

.faq__column {
	display: flex;
	flex-direction: row;
	flex: 1 0 33.33%;
}

.faq-item {
	display: flex;
	flex-direction: row;
	max-width: 333px;
	max-height: 151px;
	padding: 25px 28px;
	border-radius: 9px;
	background-color: #fff;
	margin: 0px 30px 30px 0px;
}

.item-faq {}

.faq_img {}

.faq_flex-row {
	margin: 0px 20px;
	max-width: 248px;
	max-height: 101px;
}

.faq_title {}

.faq_title:hover {
	text-decoration: underline;
	cursor: pointer;
}

.faq_text {}

/* ____________PRICING_________________________________________________________________ */

.pricing {}

.pricing__container {}

.pricing__header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px 80px 0px;
}

.pricing__title {}

.pricing__text {}

.pricing__body {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.pricing__column {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex: 0 1 33.33%;

}


.item-pricing {
	border: 1px solid #23A6F0;
	border-radius: 10px;
	padding: 50px 40px;
	box-sizing: border-box;
	background: #FFFFFF;
}

.item-pricing_active {
	padding: 70px 40px;
	background: #252B42;
	color: #fff;
}

.item-pricing_active .item-feature__text {
	color: #fff;
}

.item-pricing_active .item-pricing__text {
	color: #fff;
}


.item-pricing__title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32/24*100%);
	letter-spacing: 0.1px;
}

.item-pricing__text {
	color: #737373;
	margin: 35px 0px;
}

.item-pricing__price {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #23A6F0;
}

.price_current-price {
	margin: 0;
}

.price__div-price {
	text-align: start;
	margin: 0px 0px 0px 10px;
}

.div-prive__title {
	font-weight: 700;
	font-size: 16px;
	line-height: calc(24/16*100%);
	letter-spacing: 0.1px;
}

.div-price__text {
	font-weight: 600;
	color: #8EC2F2;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: calc(24/14*100%);
}

.item-pricing__features {
	margin: 35px 0px;
	text-align: start;
}

.item-feature {
	display: flex;
	flex-direction: row;
}

.item-feature:not(:last-child) {
	margin-bottom: 15px;
}

.item-feature__icon {
	margin: 0px 10px 0px 0px;
}

.item-feature__text {
	color: #252B42;
}

.pricing__button {
	background: #23A6F0;
	border: 1px solid #23A6F0;
	border-radius: 5px;
	padding: 15px 40px;
	font-weight: 700;
	font-size: 14px;
	line-height: calc(22/14*100%);
	letter-spacing: 0.2px;
	color: #fff;
	box-sizing: border-box;
}

.pricing__button:hover {
	background: #fff;
	color: #23A6F0;
	cursor: pointer;
}


/* ------------------------------------------GETINTOUCH------------------------------------ */

.getintouch {}

.getintouch__container {}

.getintouch__body {
	display: flex;
	justify-content: space-between;
	padding: 80px 0px;
}

.getintouch__column {}

.getintouch__item {}

.item-getintouch {
	flex: 0 1 50%;
}

.item-getintouch__title {

	color: #fff;
	text-align: left;
	margin: 0;
}

.item-getintouch__text {
	color: #fff;
	text-align: left;
}

.getintouch__form {
	flex: 0 1 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.getintouch__input {
	width: 100%;
	flex: 1 1 auto;
	border-radius: 5px 0px 0px 5px;
	min-height: 58px;
	padding: 15px 20px;
	box-sizing: border-box;
	background: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-right: 0px;
}

.getintouch__button {
	background: #23A6F0;
	border: 1px solid #E6E6E6;
	border-radius: 0px 5px 5px 0px;
	max-height: 58px;
	color: #fff;
	font-weight: 400;
	font-size: 14px;
	line-height: 200%;
	letter-spacing: 0.2px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 15px 22.5px;
	box-sizing: border-box;
}

.getintouch__button:hover {
	background: #12608d;
}

/* ____________FOOOOOOOOOOOOOTER_________________________________________________________________ */
.footer {}

.footer__body {
	background-color: #fff;
}

.footer__main {
	padding: 80px 0px;
}

.footer__main-row {
	display: flex;
	flex-direction: row;
}

.column-getintouch {}

.column-getintouch__subtitle {
	font-weight: 500;
	font-size: 14px;
	line-height: calc(20/14*100%);
	letter-spacing: 0.2px;
	color: #737373;
	margin: 25px 0px;
}

.column-getintouch__social-media {}

.social-media {
	display: flex;
	justify-content: start;
	align-items: center;
}

.social-media__item {}

.social-media__item:not(:last-child) {
	margin-right: 20px;
}

.footer__column {
	flex: 0 1 25%;
}

.footer__column:not(:last-child) {
	margin: 0px 30px 0px 0px;
}

.footer__column-title {
	font-weight: 700;
	font-size: 24px;
	line-height: calc(32/24*100%);
	letter-spacing: 0.1px;
	color: #252B42;
}

.footer__column-nav {}

.nav-footer {}

.nav-footer__list {
	margin: 20px 0px 0px 0px;
	padding: 0px;
}

.nav-footer__item {}

.nav-footer__item:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

.nav-footer__link {}

.nav-footer__link:hover {
text-decoration: underline;
}

.footer__bottom {
	background-color: #FAFAFA;
}

.footer__container {
	text-align: center;
	padding: 25px 0px;
}

.footer__madeby {}